body{
	margin:0px;
   }

section{
	min-height:500%;
	text-align:center;
	padding:100px 10% 100px;
      }
	  
	h1{
		font-size:50px;
	}  
	
	#home{
		background:skyblue;
		color:red;
		
	}
	
	#about{
		background:pink;
		color:green;
	}
	
	#contact{
		background:orange;
		color:skyblue;
	}
	
	#login{
		background:green;
		
	}
	
	#service{
		background:red;
	}
	
	footer{
		margin:0%;
		background:navy;
		color:white;
		padding:30px;
		text-align:center;
		width:100%;
		position:fixed;
		bottom:0px;
		
	}
	
	ul{
		background:navy;
		padding:15px;
		margin:0px;
		position:fixed;
		width:100%;
		height:25px;
      }
	  
	  ul li{
		  display:inline;
		  padding:20px;
		   }
		   
		   ul li a{
			   text-decoration:none;
			   color:white;
			   
			   
		   }
		   
		html{
			scroll-behavior:smooth;
		}  

     #activelink{
		 background:red !important;
	 }		
	 /* The media query start here 
	 it use to find user computer screen width*/
	 
	 @media screen and (min-width:100px) and (max-width:650px){
		 
		 ul{
			 background:black !important;
			 padding:0px !important;
		 }
		 
		 ul{
			 padding:10px  !important;
			 
		 }
		 
		 ul li a{
			 font-size:14px !important;
		 }
		 
		 img{
			 width:100% !important; 
			 
		 }
		 
/* for medium device */

 @media screen and (min-width:651px) and (max-width:800px){
	 
	    img {
			width:49.5% !important;
			margin-bottom:20px !important;
			
		}
 }		 